<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title> - Workspace - </title>
</head>
<body>
    <div class="form">
        <h3>Welcome to <span id="name_workspace"></span> Workspace!</h3>
        <h4>Members: </h4>
        <div class="addMember">
            <form onsubmit="AddNewMember(event)">
                <label>Name:</label>
                <input type="text" name="name">
                <label>Role:</label>
                <select name="role" id="role">
                    <option value="Member">Member</option>
                    <option value="Admin">Admin</option>
                </select>
                <input type="submit" value="Add">  
            </form>  
        </div>
        <div id="members"></div> 
        <h4>Channels: </h4>
        <div id="channels"></div> 
    </div>
</body>
<script>
    async function LoadWorkspaceInfo() {
        const token = localStorage.getItem('token');
        const urlParams = new URLSearchParams(window.location.search);
        const workspace_id = urlParams.get("workspace_id");

        if (!workspace_id) {
            alert("Workspace ID not found in URL!");
            return;
        }

        const res = await fetch(`/api/show_workspace?id=${workspace_id}`, {
            headers: { 'Authorization': `Bearer ${token}` }
        });

        if (res.ok) {
            const data = await res.json();
            const workspace = data.workspace;

            document.getElementById('name_workspace').textContent = workspace.name;

            const membersDiv = document.getElementById('members');
            membersDiv.textContent = "No members listed yet."; 
        } else {
            const error = await res.json();
            alert(error.message || "Failed to load workspace");
        }
    }
    LoadWorkspaceInfo();
</script>
<script>
    async function AddNewMember(event) {
        event.preventDefault();
        const token = localStorage.getItem('token');
        const name = document.querySelector('input[name="name"]').value;
        const role = document.querySelector('select[name="role"]').value;
        const urlParams = new URLSearchParams(window.location.search);
        const id_workspace = urlParams.get("workspace_id");
         

        const res = await fetch('/api/add_members', {
            method: 'POST',
            headers: {
                'Authorization': `Bearer ${token}`,
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ id_workspace, name, role })
        });

        if (res.ok) {
            const data = await res.json();
            window.location.reload();
        } else {
            alert("Error add user!");
        }
    }
</script>
</html>