<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title> - Workspace - </title>
</head>
<body>
    <div class="form">
        <h3>Welcome to <span id="name_workspace"></span> Workspace!</h3>
        <h4>Members: </h4>
        <div class="addMember">
            <form onsubmit="AddNewMember(event)">
                <label>Name:</label>
                <input type="text" name="name_member">
                <label>Role:</label>
                <select name="role" id="role">
                    <option value="Member">Member</option>
                    <option value="Admin">Admin</option>
                </select>
                <input type="submit" value="Add member">  
            </form>  
        </div>
        <div id="members"></div>

        <h4>Channels: </h4>
        <div class="addChannel">
            <form id="form_add_channel" onsubmit="AddNewChannel(event)">
                <label>Name:</label>
                <input type="text" name="name_channel">
                <label>Public/Private:</label>
                <select name="type_channel" id="type_channel">
                    <option value="Public">Public</option>
                    <option value="Private">Private</option>
                </select>
                <input type="submit" value="Add channel">  
            </form>  
        </div>
        <div id="channels"></div> 
    </div>
</body>
<script>
    async function LoadWorkspaceInfo() {
        const token = localStorage.getItem('token');
        const urlParams = new URLSearchParams(window.location.search);
        const workspace_id = urlParams.get("workspace_id");

        if (!workspace_id) {
            alert("Workspace ID not found in URL!");
            return;
        }

        const res = await fetch(`/api/workspace?id=${workspace_id}`, {
            headers: { 'Authorization': `Bearer ${token}` }
        });

        if (res.ok) {
            const data = await res.json();
            const workspace = data.workspace;
            const users = data.users;
            const channels = data.channels

            document.getElementById('name_workspace').textContent = workspace.name;

            const membersDiv = document.getElementById('members');
            membersDiv.innerHTML = ''; 

            if (!users || users.length === 0) {
                membersDiv.textContent = "No members yet.";
            } else {
                const ul = document.createElement('ul');

                users.forEach(user => {
                    const li = document.createElement('li');
                    li.textContent = `${user.name} \t [${user.role}] \t`;
                    
                    const deleteBtn = document.createElement('button');
                    deleteBtn.textContent = 'Delete';
                    deleteBtn.className = 'delete-member-btn';
                    deleteBtn.onclick = () => deleteMember(user.id);
                
                    li.appendChild(deleteBtn);
                    ul.appendChild(li);
                });

                membersDiv.appendChild(ul);
            }

            const channelsDiv = document.getElementById('channels');
            channelsDiv.innerHTML = ''; 
            if (!channels || channels.length === 0) {
                channelsDiv.textContent = "No channels yet.";
            } else {
                const ul = document.createElement('ul');

                channels.forEach(channel => {
                    const li = document.createElement('li');
                    const link = document.createElement('a');
                    const tag = document.createElement('span');

                    link.textContent = channel.name;
                    link.href = `/workspace.html?workspace_id=${workspace_id}&channel_id=${encodeURIComponent(channel.id)}`;
                    link.className = 'link';

                    if(channel.isPrivate == false)
                    {
                        tag.textContent = `\t [Public] \t`;
                    } else {
                        tag.textContent = `\t  [Private] \t`;
                    }
                    const deleteBtn = document.createElement('button');
                    deleteBtn.textContent = 'Delete';
                    deleteBtn.className = 'delete-channel-btn';
                    deleteBtn.onclick = () => deleteChannel(channel.id);
                
                    li.appendChild(link);
                    li.appendChild(tag);
                    li.appendChild(deleteBtn);
                    ul.appendChild(li);
                });

                channelsDiv.appendChild(ul);
            }
        } else {
            const error = await res.json();
            alert(error.message || "Failed to load workspace");
        }
    }

    async function deleteMember(userId) {
        const token = localStorage.getItem('token');
        const urlParams = new URLSearchParams(window.location.search);
        const workspace_id = urlParams.get("workspace_id");

        const res = await fetch(`/api/delete_member?workspace_id=${workspace_id}`, {
            method: 'POST',
            headers: {
                'Authorization': `Bearer ${token}`,
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ id_user: userId })
        });

        if (res.ok) {
            alert("Member deleted successfully!");
            window.location.reload();
        } else {
            const err = await res.json();
            alert(err.message || "Error deleting member");
        }
    }

    async function deleteChannel(channel_id) {
        const token = localStorage.getItem('token');
        const urlParams = new URLSearchParams(window.location.search);
        const workspace_id = urlParams.get("workspace_id");

        const res = await fetch(`/api/delete_channel?workspace_id=${workspace_id}`, {
            method: 'POST',
            headers: {
                'Authorization': `Bearer ${token}`,
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ workspace_id, channel_id })
        });

        if (res.ok) {
            alert("Channel deleted successfully!");
            window.location.reload();
        } else {
            const err = await res.json();
            alert(err.message || "Error deleting Channel");
        }
    }
    LoadWorkspaceInfo();
</script>
<script>
    async function AddNewMember(event) {
        event.preventDefault();
        const token = localStorage.getItem('token');
        const name = document.querySelector('input[name="name_member"]').value;
        const role = document.querySelector('select[name="role"]').value;
        const urlParams = new URLSearchParams(window.location.search);
        const id_workspace = urlParams.get("workspace_id");
         

        const res = await fetch('/api/add_members', {
            method: 'POST',
            headers: {
                'Authorization': `Bearer ${token}`,
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ id_workspace, name, role })
        });

        if (res.ok) {
            const data = await res.json();
            window.location.reload();
        } else {
            alert("Error add user!");
        }
    }

    async function AddNewChannel(event) {
        event.preventDefault();
        const token = localStorage.getItem('token');
        const name = document.querySelector('input[name="name_channel"]').value;
        const type = document.querySelector('select[name="type_channel"]').value;
        const urlParams = new URLSearchParams(window.location.search);
        const workspace_id = urlParams.get("workspace_id");
        
        const isPrivate = (type === "Private");

        const res = await fetch('/api/add_channel', {
            method: 'POST',
            headers: {
                'Authorization': `Bearer ${token}`,
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ workspace_id, name, isPrivate })
        });

        if (res.ok) {
            const data = await res.json();
            window.location.reload();
        } else {
            alert("Error add channel!");
        }
    }
</script>
</html>